@font-face {
  font-family: 'Russia';
  src: local('Russia Regular'), local('Russia-Regular'),
      url('..//..//testForRgsu/fonts/Russia.woff2') format('woff2'),
      url('..//..//testForRgsu/fonts/Russia.woff') format('woff'),
      url('..//fonts/Russia.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
